<html>
  <head>
    <title>ember benchmark</title>
    <script src="<%= timestampUrl('/public/release/ember/index.bundle.js') %>"></script>
  </head>
  <body>
    <div id="ember-app"></div>
  </body>
</html>
