<html>
  <head>
    <title>organic-oval benchmarks</title>
  </head>
  <body>
    <div>
      <a href='/oval'>Oval</a>
      <a href='/react'>React</a>
      <a href='/riot'>Riot</a>
      <a href='/vue'>VueJS</a>
      <a href='/ractive'>RactiveJS</a>
    </div>
  </body>
</html>
