<html>
  <head>
    <title>organic-oval benchmarks</title>
  </head>
  <body>
    <h1> 10 000 sync elements rendering </h1>
    <div>
      <a href='/oval'>Oval</a>
      <a href='/react'>React</a>
      <a href='/riot'>Riot</a>
      <a href='/vue'>VueJS</a>
      <a href='/ractive'>RactiveJS</a>
    </div>
    <h1> 5 000 async elements rendering </h1>
    <div>
      <a href='/oval-timers'>Oval Timers</a>
      <a href='/react-timers'>React Timers</a>
    </div>
  </body>
</html>
