<html>
  <head>
    <title>ovaljs</title>
    <script src="<%= timestampUrl('/public/release/oval/index.bundle.js') %>"></script>
  </head>
  <body>
    <div>
      <landing-view></landing-view>
    </div>
  </body>
</html>
