<html>
  <head>
    <title>reactjs benchmark</title>
    <script src="<%= timestampUrl('/public/release/react/index.bundle.js') %>"></script>
  </head>
  <body>
    <div id='timers-test'></div>
  </body>
</html>
