<html>
  <head>
    <title>riotjs benchmark</title>
    <script src="<%= timestampUrl('/public/release/riot/index.bundle.js') %>"></script>
  </head>
  <body>
    <landing-view></landing-view>
  </body>
</html>
