<html>
  <head>
    <title>riotjs</title>
    <script src="<%= timestampUrl('/public/release/riot/index.bundle.js') %>"></script>
  </head>
  <body>
    <div>
      <timers-test></timers-test>
    </div>
  </body>
</html>
