<html>
  <head>
    <title>vue benchmark</title>
    <script src="<%= timestampUrl('/public/release/vue/index.bundle.js') %>"></script>
  </head>
  <body>
    <div>
      <landing-view></landing-view>
    </div>
  </body>
</html>
